*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.heading{
    color: rgb(37, 33, 33) ;
    margin: 20px 0;
    font-size: 50px;
    text-shadow: 2px 2px  rgb(251, 97, 97);
 }
 .parent{
    /* background-image: url(images/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 22px 2px rgb(247, 7, 7),
    inset 0 0 10000px black;
}
form{
    width: 450px;
    height: 850px;
    backdrop-filter: blur(4px);
    font-size: 18px;
    color: rgb(70, 68, 68);
    box-shadow: 2px 2px 22px 2px rgb(247, 7, 7),
    inset 0 0 1000px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 75%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin: 30px 0;
    padding: 0 4px 10px 4px;
}
.input input{
    position:absolute;
    width: 85%;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
.input label{
    transition: .3s;
    font-size: 17px;
}
 
.input input:focus~label,
.input input:valid~label{
    transform: translateY(-30px);
}
.input ion-icon{
    font-size:22px ;
}
.btn{
    height:35px;
    width: 150px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 1px 22px 1px rgb(247, 77, 7);
}
.btn:hover{
    box-shadow: 2px 2px 22px 2px rgb(247, 7, 7),
    inset 0 0 10px black;
}