<div class="container">
  <div *ngIf="data.length > 0" class="data-section">
    <h2 class="title text-center">𝑫𝒂𝒕𝒂 𝒇𝒓𝒐𝒎 𝑨𝑷𝑰</h2>
    <ul class="data-list">
      <li *ngFor="let item of data" class="data-item">
        <div class="data-item-content">
          <h3 class="item-name">{{ item.name }}</h3>
          <p class="item-details">
            Color: <span class="item-color">{{ item.data.color }}</span>
          </p>
          <p class="item-details">
            Price: <span class="item-price">{{ item.data.price | currency }}</span>
          </p>
          <p class="item-details">
            Capacity: <span class="item-capacity">{{ item.data.capacity }} GB</span>
          </p>
          <p class="item-details">
            Screen Size: <span class="item-screen-size">{{ item.data.screenSize }} inches</span>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="data.length === 0" class="no-data-section">
    <p class="no-data-message">No data available.</p>
  </div>
</div>
